document, body {
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh; /* Or the desired height */
    width: 100vw; /* Or the desired width */
    position: relative;
    z-index: 0;
}

#report-button {
    position: fixed;
    bottom: 1vw;
    left: 1vw;
    background-color: white;
    border-radius: 4vw;
    width: 6vw;
    height: 6vw;
}

#report-button-image {
    width: 4vw;
    height: 4vw;
    margin: 0;
    padding: 0;
}

#incentive-button {
    position: fixed;
    bottom: 8vw;
    left: 1vw;
    background-color: white;
    border-radius: 4vw;
    width: 6vw;
    height: 6vw;
}

#incentive-button-image {
    width: 4vw;
    height: 4vw;
    margin: 0;
    padding: 0;
}

#report-select-menu {
    display: none;
    position: fixed;
    bottom: 1vw;
    left: 1vw;
    background-color: white;
}

#report-select-menu table {
    border-collapse: collapse;
}

#report-select-menu table td {
    width: 6vw;
    height: 6vw;
    border: solid thin black;
    display: flexbox;
    align-items: center;
    text-align: center;
}

#report-select-menu table td {
    background-color: white;
}

#report-select-menu table td:hover {
    background-color: #BBBBBB;
}

.report-image img {
    width: 4vw;
    height: 4vw;
}

#incentive-select-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    overflow: scroll;
    height: 99vh;
    width: 40vw;
    margin: 0;
    padding: 0;
}

#close-incentive-menu {
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: 3vw;
}

#incentives {
    margin-top: 5vw;
    border-collapse: collapse;
}

.incentive-entry {
    border-top: solid thin black;
    padding: 2vw;
}

.incentive-title {
    width: 50%;
    display: inline-block;
}

.incentive-image {
    width: 30%;
    display: inline-block;
}

.incentive-description {
    display: block;
}

#notification {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: white;
    border-radius: 2vw;
    z-index: 10;
    margin: 0 auto;
    width: 30vw;
    height: 5vw;
    border: solid thin black;
}

#notification-bar {
    position: absolute;
    top: 3vh;
    width: 100%;
}

#notification-image {
    display: inline-block;
    border-radius: 2vw;
    width: 3vw;
    height: 3vw;
    border: solid thin black;
}

#notification-text {
    display: inline-block;
    font-size: 1.5vw;
    margin: 0;
    margin-left: 1vw;
    padding: 0;
}